<%# ここから初期設定 %>
<% deviceMode = 'responsive'; %> <!-- pc,sp,responsive -->
<%# ここまで初期設定 %>

<%- include('./module/_head', {body:'home'}) %>

<%- include('./module/header/_hdrB') %>

<%- include('./module/header/_drawer') %>

<%- include('./module/topMain/_mainSliderA') %>

<%- include('./module/articleList/_newsListC') %>


<section>
  <div class="container">
    <%- include('./module/articleList/_newsListB') %>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h2D">売れ筋商品<span><small>ITEM RANKING</small></span></h2>
    <div class="tab tab--typeB">
      <ul class="tabSwitch scrollX">
        <li class="active"><span>トップス</span></li>
        <li class=""><span>ボトムス</span></li>
        <li class=""><span>アクセサリー</span></li>
        <li class=""><span>シューズ</span></li>
        <li class=""><span>シューズ</span></li>
        <li class=""><span>シューズ</span></li>
      </ul>
      <div class="tabContents">
        <div class="tabContent active">
          <ul class="itemList itemList--ranking itemList--typeC itemList-pc--4 itemList-sp--2">
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>

          </ul>
        </div>
        <div class="tabContent">
          <ul class="itemList itemList--ranking itemList--typeC itemList-pc--4 itemList-sp--2">
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
          </ul>
        </div>
        <div class="tabContent">
          <ul class="itemList itemList--ranking itemList--typeC itemList-pc--4 itemList-sp--2">
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
          </ul>
        </div>
        <div class="tabContent">
          <ul class="itemList itemList--ranking itemList--typeC itemList-pc--4 itemList-sp--2">
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
            <li class="itemList__unit">
              <a href="#" class="itemWrap">
                <img class="itemImg" src="http://corekara.sub.jp/dummy800800.png" border="0" alt="商品が入ります" width="100" align="center" valign="absmiddle">
                <p class="itemName">商品が入ります</p>
                <p class="itemPrice">10,000円<small>(税込)</small></p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section>
  <div class="container">
    <h2 class="h2D">特集<span><small>CONTENTS</small></span></h2>
    <%- include('./module/articleList/_articleListD') %>
  </div>
</section>

<section class="highlight">
  <div class="container">
    <h2 class="h2D">カテゴリーから探す<span><small>CATEGORY LIST</small></span></h2>
    <%- include('./module/bnr/_cateListA') %>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h2C">カテゴリーから探す<span><small>CATEGORY LIST</small></span></h2>
    <%- include('./module/bnr/_cateListC') %>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h2D">新着商品<span><small>NEW ITEMS</small></span></h2>
    <%- include('./module/itemList/_itemListD') %>
  </div>
</section>


<section>
  <div class="container">
    <h2 class="h2D">ブログ<span><small>BLOG</small></span></h2>
    <%- include('./module/articleList/_articleListB') %>
  </div>
</section>

<%- include('./module/footer/_ftrD', {param:'param'}) %>
