<%# PCの場合 %>
<% if (deviceMode == 'pc') { %>
<header id="hdr" class="hdr--typeA">
  <div class="hdrTop">
    <div class="hdrInner">
      <%- include('../../parts/header/_hdrInfoC') %>
      <%- include('../../parts/header/_exNavA') %>
    </div>
  </div>
  <div class="hdrMiddle hdrMiddle--logoCenter">
    <div class="hdrInner">
      <div class="hdrMiddle__left">
        <%- include('../../parts/general/_searchFormA') %>
      </div>
      <h1 id="hdrLogo" class="hdrMiddle__center"><a href="/"><img class="gNav__listIcon" src="http://corekara.sub.jp/dummyLogo.svg" alt="" width="205" height="40"></a></h1>
      <div class="hdrMiddle__right">
        <%- include('../../parts/header/_iconNav') %>
      </div>

    </div>
  </div>
  <div class="hdrBottom hdrFixed hdrBottom--onlyNav">
    <div class="hdrInner">
      <%- include('../../parts/header/_gNavA') %>
    </div>
  </div>
</header>
<% } %>

<%# SPの場合 %>
<% if (deviceMode == 'sp') { %>
  <header id="hdr" class="hdr--typeA">
  <div class="hdrTop text--center"">
    <div class="hdrInner">
      <%- include('../../parts/header/_hdrInfoA') %>
    </div>
  </div>
  <div class="hdrMiddle hdrMiddle--logoCenter hdrFixed">
    <div class="hdrInner">
      <div class="hdrMiddle__left">
        <%- include('../../parts/header/_iconNavMenuA') %>
      </div>
      <h1 id="hdrLogo" class="hdrMiddle__center"><a href=""><img class="gNav__listIcon" src="http://corekara.sub.jp/dummyLogo.svg" alt="" width="205" height="40"></a></h1>
      <div class="hdrMiddle__right">
        <%- include('../../parts/header/_iconNav') %>
      </div>
    </div>
  </div>
</header>
<% } %>

<%# レスポンシブの場合 %>
<% if (deviceMode == 'responsive') { %>
  <header id="hdr" class="hdr--typeA">
    <div class="hdrTop">
      <div class="hdrInner">
        <%- include('../../parts/header/_hdrInfoC') %>
        <%- include('../../parts/header/_exNavA') %>
      </div>
    </div>
    <div class="hdrMiddle hdrMiddle--logoCenter hdrFixed">
      <div class="hdrInner">
        <div class="hdrMiddle__left">
          <div class="pcOnly"><%- include('../../parts/general/_searchFormA') %></div>
          <div class="spOnly"><%- include('../../parts/header/_iconNavMenuA') %></div>
        </div>
        <h1 id="hdrLogo" class="hdrMiddle__center"><a href="/"><img class="gNav__listIcon" src="http://corekara.sub.jp/dummyLogo.svg" alt="" width="205" height="40"></a></h1>
        <div class="hdrMiddle__right">
          <%- include('../../parts/header/_iconNav') %>
        </div>
      </div>
    </div>
    <div class="hdrBottom hdrBottom--onlyNav pcOnly">
      <div class="hdrInner">
        <%- include('../../parts/header/_gNavA') %>
      </div>
    </div>
  </header>
<% } %>
